langchain
langchain-community
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
ipykernel
langchain-ollama
streamlit
langserve
fastapi
uvicorn
sse_starlette
pydantic
faiss-cpu
ipython
langchain-core
langchain-openai
langchain-community
langchain-ollama
langchain-milvus
marker-pdf[full]
pymupdf
pyyaml
pymupdf4llm
langchain-docling
pymilvus
langgraph
pydantic
gradio
python-dotenv
